#container {
    display: flex;
    flex-direction: column;
    div {
        background-color: rgb(206, 206, 206);
        border: 1px solid black;
        width: 66%;
        margin: 50px auto;
    }

    #results {
        height: 80vh;
        #results-list {
            display: relative;
            width: 75%;
            height: 75%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 450px);
            grid-gap: 30px;
            border: none;
            overflow-y: hidden;
            overflow: scroll;
           
        }

        #buttons {
            height: 10%;
            width: 100%;
            border: none;
        }
    }

    #nominations-container {
        border: '2px solid black';
        width: 'fit-content';
        padding: '50px'
    }

    .movie-card {
        display: flex;
        flex-direction: column;
        border: 1px grey;
        border-radius: 20px;
        box-shadow: 5px 2.5px 7.5px 2.5px;
        padding: 25px;

        background-color: rgb(240, 240, 240);

        img {
            height: 66%;
        }
    }
}