#search {
    position: relative;
    background-color: rgb(206, 206, 206);
    border: 1px solid black;
    width: 66%;
    height: 10vh;

    #inner-search {
        position: absolute;
        bottom: 0;
        width: 85%;
        height: 100%;
        h3 {
            
        }

        #search-input {
            height: 50%;
        }
    
    }

}